@{
    ViewData["Title"] = "The Online Bookstore";
}

@model BookListViewModel

<div>
    <h4 class="pt-5">The following is the list of books included in our bookstore database</h4>
    <!--Books Table-->
    <table class="table mb-5 thead-light table-hover">
        <thead>
            <tr><th>BookId</th><th>Title</th><th>Author</th><th>Publisher</th><th>ISBN</th><th>Classification</th><th>Category</th><th>Price</th></tr>
        </thead>
        <tbody>
            <!--Loop to output book information-->
            @foreach (var x in Model.Books)
            {
            <tr>
                <td>@x.BookId</td>
                <td>@x.Title</td>
                <td>@x.Author</td>
                <td>@x.Publisher</td>
                <td>@x.ISBN</td>
                <td>@x.Classification</td>
                <td>@x.Category</td>
                <td>$@x.Price</td>
            </tr>
            }
        </tbody>
     </table>
</div>
<!--Page Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse justify-content-md-center">
        <ul page-model="@Model.PagingInfo" page-action="Index" class="nav navbar-nav" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-dark"></ul>
    </div>
</nav>